*{
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  
}

:root{
  /* definindo var para as fontes */
  --font-family: 'Poppins', sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);
  
  /* definindo variaveis de cores */
  --text-primary: #292524;
  --text-secundary: #57564E;
  --text-tertiary: #8F8881;
  --text-high: #E43a12;

  --surface-primary: white;
  --surface-secundary: #fee7d6;

  --stroke-default: #d6d3d1;
  --stroke-hig: #f3541c;
  --error: #dc2626;

}

/* começando o layout */

.app{
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  
}

 body{
overflow: hidden;
} 

main{
  /* esse overflow permite com que na main tenha uma barra de scrolagem
   e que em outro lugar especifico não tornando fixo */
   height: 100vh;
   overflow: auto;
  padding: 4rem;
  background-color: var(--surface-primary);
  

  .main-cont{
    max-width: 33rem;
    margin-left: auto;
  }

}

aside{
  padding: 4rem;
  background-color: #FFBF9D;
  height: 53rem;

  .aside-cont{
    max-width: 31rem;
    margin-right: auto;
  }
}

/* estilizando o aside */

aside h1{
 font-size: 2.5rem;
}

span{
  color: var(--text-high) ;
}

p{
  font-size: var(--text);
}

/* começando a estilizar o main 
- header
*/

#about div {
  display: flex;
  align-items: center;
  gap: 0.38rem;
  span{
  color: var(--text-secundary);
  }
}


.main-cont, form{
/* colocando espaçamento entre linhas 
fixo de 48pixeis */
  display: grid;
  row-gap: 3rem;
}

/* Informações sobre as crianças */

fieldset{
  display: grid;
  gap: 1.5rem;
  border: none;
legend{
margin-bottom: 1.5rem;
font-size: 1rem;
font-weight: 700;
color: var(--text-primary);
  }
label{
  color: var(--text-tertiary);
input, select{
  color: var(--text-primary);
  padding: 1rem;
  width: 33rem;
  border-radius: 0.5rem;
  height: 3rem;
}
textarea{
color: var(--text-primary);
  padding: 1rem;
  width: 33rem;
  border-radius: 0.5rem;
  height: 7.5rem;
}

}
}

/* #cert {
  border: dashed var(--text-tertiary) 0.1rem;
  height: 1.5rem;
} */

.dropzone{
  border: 1px dashed var(--stroke-default);
  border-radius: 0.25rem;

  display: grid;
  justify-items: center;
  gap: .5rem;

  text-align: center;
  padding: 1.75rem 1rem;

  position: relative;
  & input{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
  }

& p{
  color: #A8A29E;

}

&:hover{
  border-width: 2px;
  border-color: var(--stroke-hig) ;
  background-color: var(--surface-secundary);
  
  & p{
    color: var(--text-tertiary);
  }
  
& svg path{
   stroke: var(--stroke-hig);
}

}


}

