*{
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* definindo var para as fontes */
  --font-family: 'Poppins', sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);
  
  /* definindo variaveis de cores */
  --text-primary: #292524;
  --text-secundary: #57564E;
  --text-tertiary: #8F8881;
  --text-high: #E43a12;

  --surface-primary: white;
  --surface-secundary: #fee7d6;

  --stroke-default: #d6d3d1;
  --stroke-hig: #f3541c;
  --error: #dc2626;

}

/* começando o layout */

#app{
  display: grid;
  grid-template-columns: 51.25% 48.75%;

}

main{
  /* esse overflow permite com que na main tenha uma barra de scrolagem
   e que em outro lugar especifico não tornando fixo */
  overflow: auto;
  padding: 4rem;
  background-color: var(--surface-primary);
}

aside{
  padding: 4rem;
  background-color: #FFBF9D;

}