:root{
  /* definindo var para as fontes */
  --font-family: 'Poppins', sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);
  
  /* definindo variaveis de cores */
  --text-primary: #292524;
  --text-secundary: #57564E;
  --text-tertiary: #8F8881;
  --text-high: #E43a12;

  --surface-primary: white;
  --surface-secundary: #fee7d6;
}